.bubble{
    position : absolute ;
    border-radius: 50%;
    aspect-ratio: 1;
    z-index: -1;
}

.bubble1{
    background-color: #29384b;

    width: 400px;
    top: 100px;
    left: 100px; 
}
.bubble2{
    background-color: #29384b;

    width: 200px;
    top: 100px;
    left: 900px; 
}
.bubble3{
    background-color: #29384b;

    width: 100px;
    top: 100px;
    left: 700px; 
}
.bubble4{
    background-color: #29384b;

    width: 50px;
    top: 100px;
    left: 500px;
}
